* {
    box-sizing: border-box;
  }

  @import url('https://use.typekit.net/oja0tul.css');

  @font-face {
    font-family: KyivTypeSans;
    src: url(fonts/KyivTypeSans-Regular.otf);
  }
  @font-face {
    font-family: KyivTypeTitling;
    src: url(fonts/KyivTypeTitling-Medium2.otf);
  }

img{
    width: 100%;
}

h1{
    font-family: KyivTypeTitling, serif;
    font-size: 140px;
    line-height: 130px;
    color: #0D2759;
}

h2{
    font-family: Henriette, serif;
    font-size: 50px;
    color: #0D2759;
}

p{
    font-family: KyivTypeSans, sans-serif;
    font-size: 20px;
}

button{
    background-color: rgba(89, 116, 222, 0.9);
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    font-family: Henriette, serif;
    font-size: 30px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button p{
    margin: 0;
}
button:hover{
    background-color:rgba(249, 143, 13, 0.9);
    color: white;
}

.home-page{
    width: 100vw;
    margin: auto;
    background-image: url('images/river.png');
}
    .title{
        margin: auto;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        text-align: center;
        background:rgba(255, 255, 255, .8);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .title h1{
        margin: 0;
        padding-top: 14%;
    }
    .title h2{
        margin: 0;
        padding-top: 5%;
    }
    .read{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  .home-page button{
    margin-top: 3%;
  }