@font-face {
  font-family: Hunter;
  src: url(fonts/Hunter.otf);
}
@font-face {
    font-family: KurkaLapoyu;
    src: url(fonts/KurkaLapoyu-Regular.otf);
  }

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
}

/*Colors
purple: #D3B3F7
lilac: #F2ECFA
pink: #F7D5DA
green: #B2C535
orange: #F8C747
creme: #F8F1D4
blue: #D6E8FF
black: #353535
*/

h1{
    font-family: 'Hunter', serif;
    font-size: 180px;
    color: #353535;
    font-weight: 200;
}

h2{
    font-family: 'KurkaLapoyu-Regular', sans-serif;
    font-size: 65px;
    color: #353535;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #353535;
}

.page {
    width: 100vw;
    height: 100vh;
  }
  .content {
    position: relative;
    width: 80%;
    margin: 80px auto;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one,
  .two,
  .three,
  .four {
    width: 100vw;
  }
  .one {
    background: #F2ECFA;
  }
  .two {
    background: rgb(185, 229, 241);
  }
  .three {
    background: rgb(198, 251, 190);
  }
  .four {
    background: rgb(246, 190, 251);
  }
  
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .one .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
  }
  .main h1{
    margin: 0;
    z-index: 10;
  }
  .main h2{
    margin: 3%;
  }
  .slumber {
    height: 65vh;
    width: auto;
    margin: auto;
    margin-top: -10%;
  }
  .one .element{
    position: absolute;
    scale: .1;
    top: 0;
    right: -50%;
    animation: spinnow 5s infinite linear;
  }

  @keyframes spinnow {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}