@font-face {
  font-family: Hunter;
  src: url(fonts/Hunter.otf);
}
@font-face {
    font-family: KurkaLapoyu-Regular;
    src: url(fonts/KurkaLapoyu-Regular.otf);
  }

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
  width: 100%;
}

.hide{
  display: none;
}

/*Colors
purple: #D3B3F7
lilac: #F2ECFA
pink: #F7D5DA
green: #B2C535
orange: #F8C747
creme: #F8F1D4
blue: #D6E8FF
black: #353535
*/

h1{
    font-family: 'Hunter', serif;
    font-size: 180px;
    color: #353535;
    font-weight: 200;
}

h2{
    font-family: 'KurkaLapoyu-Regular', sans-serif;
    font-size: 60px;
    color: #353535;
}

h3{
  font-family: 'Hunter', serif;
  font-size: 45px;
  color: #353535;
  font-weight: 200;
  text-align: center;
}

h4{
  font-family: 'KurkaLapoyu-Regular', sans-serif;
  font-size: 22px;
  color: #353535;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #353535;
}


.element{
  animation: spinnow 5s infinite linear;
}

@keyframes spinnow {
  100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
  }
}


.page {
    min-width: 100vw;
    height: 100vh;
  }
  .content {
    position: relative;
    width: 80%;
    margin: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one,
  .two,
  .three,
  .four {
    width: 100vw;
  }
  .one {
    background: #F2ECFA;
  }
  .three, .four{
    background: #F8F1D4;
  }

  .two .content, .three .content, .four .content, .five .content, .six .content{
    margin-top: 8%;
  }

  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .hamburger-nav {
    display: flex;
    width: 100vw;
  }


  .logo{
    position: absolute;
    margin-left: -4%;

    scale: .4;
  }
header{
  position: sticky;
}

button{
  background-color: #F2ECFA;
  border: 2px solid #D3B3F7;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #F2ECFA, 0 6px 20px 0 #F2ECFA;
}

button:hover{
  background-color: #D3B3F7;
}

.animate {
  transform: translateY(+100px);
}
.up {
  transform: translateY(0);
  transition: transform ease 1s;
}





  /* START of desktop menu for 768 media query */
  .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    height: 0;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .menu-desktop a {
    display: inline-flex;
    margin-right: 30px;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #353535;
    justify-content: space-evenly;
  }
  .menu-desktop p{
    font-size: 18px;
    color: #353535;
  }
  .menu-desktop p:hover {
    font-style: italic;
    text-decoration: underline #D3B3F7;
  }
  
  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }
  
  .menu-mobile {
    display: none;
  }
  /* END of desktop menu for 768 media query */
  
  /* medium to small devices (768px and smaller aka mobile) */
  @media only screen and (max-width: 768px) {
    /* START of Mobile Menu */
    .nav,
    .desktop {
      display: block;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 900;
    }
  
    .icon {
      position: fixed;
      cursor: pointer;
      top: 5%;
      right: 0%;
      width: 40px;
      height: 45px;
      transform: translate(-50%, -50%);
      display: block;
      z-index: 1000;
    }
  
    .hamburger {
      width: 40px;
      height: 4px;
      line-height: 70px;
      background: #353535;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }
  
    .hamburger:before,
    .hamburger:after {
      content: '';
      position: absolute;
      width: 40px;
      height: 4px;
      background: #353535;
      border-radius: 5px;
      transition: 0.5s;
    }
  
    .hamburger:before {
      top: -10px;
    }
  
    .hamburger:after {
      top: 10px;
    }
  
    .icon.active .hamburger {
      background: rgba(0, 0, 0, 0);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }
  
    .icon.active .hamburger:before {
      top: 0;
      transform: rotate(45deg);
    }
  
    .icon.active .hamburger:after {
      top: 0;
      transform: rotate(135deg);
    }
  
    .menu-mobile {
      background-color:  #F8F1D4;
      height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 999;
      padding-top: 150px;
      text-align: center;
    }
  
    .menu-mobile,
    .menu-mobile a {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .menu-mobile a {
      clear: right;
      text-decoration: none;
      color:#353535;
      height: 70px;
      line-height: 70px;
    }
    .menu-mobile a:hover {
      font-style: italic;
      text-decoration: underline;
      text-decoration-color: #D3B3F7;
    }
  
    .desktop,
    .menu-desktop,
    .menu-mobile {
      display: none;
    }
    /* END OF Mobile Menu */
  }




  /*HOME PAGE*/


  .one .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
  }
  .main h1{
    margin: 0;
    z-index: 10;
  }
  .main h2{
    margin: 0;
  }
  .slumber {
    height: 55vh;
    width: auto;
    margin: auto;
    margin-top: -10%;
  }

  .one .star-1{
    position: absolute;
      top: -20%;
      right: -48%;
      scale: .09;
  }
  .one .star-2{
    position: absolute;
    top: -8%;
    left: -44%;
    scale: .2;
}
  .one .star-3{
    position: absolute;
    top: 10%;
    right: -35%;
    scale: .2;
  }
  .one .star-4{
    position: absolute;
    top: -55%;
    right: -26%;
    scale: .05;
  }
  .one .star-5{
    position: absolute;
    top: -65%;
    right: 48%;
    scale: .2;
  }
  .one .star-6{
    position: absolute;
    top: -63%;
    left: 48%;
    scale: .16;
  }
  .one .star-7{
    position: absolute;
    top: -90%;
    scale: .04;
  }
  .one .star-8{
    position: absolute;
    top: 10%;
    right: 23%;
    scale: .04;
  }
  .one .star-9{
    position: absolute;
    top: -20%;
    right: 28%;
    scale: .05;
  }
  .one .star-10{
    position: absolute;
    top: -33%;
    right: 46%;
    scale: .04;
  }

  /* ABOUT PAGE*/

 

  .two h3{
    text-align: center;
  }
  .two .about{
    display: flex;
  }
  .about .left, .right{
    flex: 1;
  }
  .about .left{
    margin-top: 4%;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #353535;
    height: fit-content;
  }

  .about .right{
    margin-top: -10%;
  }

  .two .star-1{
    position: absolute;
    scale: .1;
    top: -80%;
    right: -50%;
  }

  .two .star-2{
    position: absolute;
    scale: .1;
    top: -60%;
    right: 50%;
  }

  .two .star-3{
    position: absolute;
    scale: .06;
    right: 5%;
  }

  /* Materials Page 1*/

.three .materials{
  display: flex;
  justify-content: space-between;
}

.three .knee, .stuffing, .tights{
  display: block;
  text-align: center;
}
.materials img{
  margin-top: -25%;
  height: 55vh;
  width: auto;
}
.three .tights img{
  margin-top: 2%;
}
.three .stuffing img{
  margin-top: -12%;
  scale: 1.2;
}
.three .dropzone{
    text-align: center;
    padding: 5px 15px;
    margin: auto;
    margin-top: -5%;
    width: 40%;
    background-color: #F7D5DA;
    border-radius: 10px;
    border: 1px solid #353535;
    box-shadow: 0 4px 8px 0  #F7D5DA, 0 6px 20px 0#F7D5DA;
}

  .dropzone.dragover{
    background-color: #D3B3F7;
  }

  .dragging {
    opacity: 0.5;
  }


  .three .m-star{
    scale: .5;
    position: absolute;
  }

  /* Materials Page 2*/

  .materials-info{
    display: flex;
    margin-left: -10%;
  }
  .materials-info .left{
    flex: 60%;
  }
  .materials-info .right{
    flex: 40%;
    margin-top: 5%;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #353535;
    height: fit-content;
  }

  /*Gallery Page*/

  .background{
    position: absolute;
    z-index: -99;
    margin-top: -15%;
  }
  .bg-1{
    left: -7%;
    scale: 1.2;
  }
  .bg-2{
    right: 43%;
    top: 15%;
    scale: 1.1;
  }
  .bg-3{
    scale: 1.2;
  }
  .gallery img{
    height: 80vh;
    width: auto;
    margin: auto;
  }


  /* Workshop */

.container{
  display: flex;
  margin: auto;
  overflow: auto;
}
.container .result img{
  margin-top: -2%;
  position: absolute;
  height: 70vh;
  width: auto;
}
  .container .result, .info{
    flex: 1;
  }

  .container .info{
    margin-left: -15%;
    padding-bottom: 5%;
  }
.options{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8%;
  padding-top: 5%;
}
.options p{
  margin: 0;
}
  .options .face{
    padding-right: 5%;
    border-right: 1px solid #353535;
  }
  .options .name{
    padding-left: 5%;
  }
  .faces{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    width: 30vw;
  }
  .faces img{
    height: 15vh;
    width: auto;
  }

  .faces div:hover{
    scale: 1.2;
  }

  form{
    padding-bottom: 5%;
  }










  @media only screen and (max-width: 768px) {
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100vw;
      transform: none;
    }
    .outer-wrapper {
      width: 100vh;
      height: auto;
      transform: none;
      position: relative;
    }
    .page {
      height: auto;
      padding-bottom: 50px;
    }
  }