@font-face {
  font-family: Hunter;
  src: url(fonts/Hunter.otf);
}
@font-face {
    font-family: KurkaLapoyu;
    src: url(fonts/KurkaLapoyu-Regular.otf);
  }

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
}

/*Colors
purple: #D3B3F7
lilac: #F2ECFA
pink: #F7D5DA
green: #B2C535
orange: #F8C747
creme: #F8F1D4
blue: #D6E8FF
black: #353535
*/

h1{
    font-family: 'Hunter', serif;
    font-size: 180px;
    color: #353535;
    font-weight: 200;
}

h2{
    font-family: 'KurkaLapoyu-Regular', sans-serif;
    font-size: 60px;
    color: #353535;
}

h3{
  font-family: 'Hunter', serif;
  font-size: 60px;
  color: #353535;
  font-weight: 200;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #353535;
}


.element{
  animation: spinnow 5s infinite linear;
}

@keyframes spinnow {
  100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
  }
}


.page {
    width: 100vw;
    height: 100vh;
  }
  .content {
    position: relative;
    width: 80%;
    margin: 80px auto;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .one,
  .two,
  .three,
  .four {
    width: 100vw;
  }
  .one {
    background: #F2ECFA;
  }

  .three {
    background: rgb(198, 251, 190);
  }
  .four {
    background: rgb(246, 190, 251);
  }
  
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }


  /*HOME PAGE*/


  .one .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -2%;
  }
  .main h1{
    margin: 0;
    z-index: 10;
  }
  .main h2{
    margin: 0;
  }
  .slumber {
    height: 55vh;
    width: auto;
    margin: auto;
    margin-top: -10%;
  }

  .one .star-1{
    position: absolute;
      top: -30%;
      right: -48%;
      scale: .09;
  }
  .one .star-2{
    position: absolute;
    top: -15%;
    left: -44%;
    scale: .2;
}
  .one .star-3{
    position: absolute;
    top: 5%;
    right: -35%;
    scale: .2;
  }
  .one .star-4{
    position: absolute;
    top: -55%;
    right: -26%;
    scale: .05;
  }
  .one .star-5{
    position: absolute;
    top: -75%;
    right: 43%;
    scale: .2;
  }
  .one .star-6{
    position: absolute;
    top: -63%;
    left: 45%;
    scale: .16;
  }
  .one .star-7{
    position: absolute;
    top: -95%;
    scale: .04;
  }
  .one .star-8{
    position: absolute;
    top: 5%;
    right: 23%;
    scale: .04;
  }
  .one .star-9{
    position: absolute;
    top: -30%;
    right: 23%;
    scale: .05;
  }
  .one .star-10{
    position: absolute;
    top: -43%;
    right: 46%;
    scale: .04;
  }

  /* ABOUT PAGE*/

  .two h3{
    text-align: center;
  }
  .two .about{
    display: flex;
  }
  .about .left, .right{
    flex: 1;
  }